html {
	height: 100%;
}
body {
	height: 100%;
}
#app {
	height: 100%;
}
#container {
	height: calc(100% - 63px);
	padding: 5px;
}
.querybox-tab-content {
	height : 100%;
	display : none;
}
.querybox-tab-content.active {
	display : block;
}
.editor {
	margin: 0;
	height: 50%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.result {
	overflow: auto;
	height: 50%;
}
.status-bar {
	height: 21px;
	border: 1px solid;
	background-color: rgb(245, 245, 245);
	border-color: #808080;
}
#info {
	float: left;
	padding-left: 5px;
}
.cell {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    padding: 0px 8px;
    width: 100%;
		line-height: 30px;
}
.cell-overflow, .cell-overflow-null {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cell-overflow-null {
	color: #fff;
}
.nav-tabs>li>a {
	outline: 0;
}
.nav-tabs>li>a>i {
	font-size: 12px;
	margin-left: 15px;
}
.ace_search {
	max-width: 350px!important;
	color: initial;
}
.ace_searchbtn {
	min-width: 27px;
	width: auto!important;
}
.ace_status-indicator {
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid;
	border-color: #808080;
}
.react-contextmenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	        background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.react-contextmenu-item {
	display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
	cursor: pointer;
}
.react-contextmenu-item:hover,
.react-contextmenu-item:focus {
	color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
